<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Our Team at Windeverest will reach out to you. We'd like you to co-operate with us in the mean-time.
    </p>
  </body>
</html>
