<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Simply click the button below to verify your email address.
    </p>
    <a href= <%= @url %>><u>Verify Account</u></a>
  </body>
</html>


