<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Your Account have been bloked, You can reset your password after 8 hours!
    </p>
  </body>
</html>